@import "../../common";

.run-lt-container {

  width: 100%;
  top: 4.5em;
  position: absolute;

  margin: auto;
  overflow: hidden;

  .run-lt-sub-container {

    .load-test-error {
      text-align: center;
      font-size: 3em;
      font-family: $titles-font;
      color: $forth-color;
      text-shadow: 1px 1px 1px $forth-color;
    }
  }
}
