@import "../common";

.choose-level-container {

  display: table;
  width: 100%;
  height: calc(100% - 4.5em);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto;

  ul {

    display: table-cell;
    vertical-align: middle;

    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li {
      text-align: center;
      padding: .5em 0;
      margin-bottom: 2em;

      .li-a1 {
        opacity: 0;
        transform: scale(0);
        animation: LevelFadeIn .2s ease-in-out forwards;
      }

      .li-a2 {
        opacity: 0;
        transform: scale(0);
        animation: LevelFadeIn .2s ease-in-out .2s forwards;
      }

      .li-b1 {
        opacity: 0;
        transform: scale(0);
        animation: LevelFadeIn .2s ease-in-out .4s forwards;
      }

      .li-b2 {
        opacity: 0;
        transform: scale(0);
        animation: LevelFadeIn .2s ease-in-out .6s forwards;
      }

      a {
        text-decoration: none;
        color: $second-color;
        font-family: $primary-font;
        font-size: 3em;
        transition: all .2s;
        width: 4em;
        background: $choose-li-a-color;
        border-radius: 50%;
        text-shadow: 1px 1px 1px $second-color;
        box-shadow: 0 0 20px -5px white;
        cursor: pointer;
      }

      a:hover {
        font-size: 3.3em;
        box-shadow: 0 0 100px 9px white;
      }

      a.comming-soon {
        cursor: default;
        opacity: .5;

        &:hover {
          font-size: 3em;
          box-shadow: 0 0 40px 9px white;

          &::after {
            position: absolute;
            font-size: .3em;
            padding: 1.6em .5em .5em;

            opacity: 0;
            transform: scale(0);
            animation: CommingSoonFadeIn .2s ease-in forwards;
          }
        }
      }
    }
  }
}

@keyframes CommingSoonFadeIn {
  0% {
  }
  100% {
    opacity: .7;
    transform: scale(1);
  }
}

@keyframes LevelFadeIn {
  0% {
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
