<div class="container">
  <div class="input-div">
    <form [formGroup]="formInputGroup" novalidate>
      <input type="text" #input autocomplete="off"

             (change)="controlChanged($event, input, i, explanation)"
             (keydown)="navigate($event, input)"
             (click)="onInputClick(input, explanation)"

             [ngClass]="{
                        'wrong-answer': isInputInvalid(input),
                        'valid-answer': isInputValid(input),
                        'valid': luckenInputStatus(input) === 'valid',
                        'invalid': luckenInputStatus(input) === 'invalid'
                     }"

             [name]="i"
             [formControlName]="i"
             [id]="i"
             [size]="value.length">
    </form>
  </div>
</div>
