@import "../../common";

:host {
  display: inline-block;
  margin: 0 .1em;
}

.container {

  .input-div {

    form {

      .valid-answer {
        border: 0;
        text-decoration: underline;
        color: $color-lt-input-valid;
        font-weight: bold;
        background: transparent;
      }

      .wrong-answer {
        border-bottom: $color-dark 2px solid;
      }

      input {
        z-index: -5;
        background: $color-lightgray;
        border: {
          top-width: 0;
          right-width: 0;
          bottom: 2px solid $color-darkgray;
          left-width: 0;
        }
        font-family: "Nova Mono", sans-serif;
        font-size: inherit;
      }
    }
  }
}

