<div class="container">
  <div class="input-div">
    <input type="text" #input autocomplete="off"

           (change)="controlChanged($event, input, i, explanation)"
           (keydown)="navigate($event, input)"
           (click)="onInputClick(input, explanation)"

           [ngClass]="{
                        'shake shake-constant': shakeItOrNot(input),
                        'wrong-answer': isInputInvalid(input),
                        'valid-answer': isInputValid(input),
                        'valid': luckenInputStatus(input) === 'valid',
                        'invalid': luckenInputStatus(input) === 'invalid'
                     }"

           [name]="i"
           [id]="i"
           [size]="value.length">
  </div>
</div>
