@import "../common";

.container {
  width: 100%;
  font-family: $normal-font;

  ul {
    padding: 0 1em;
    text-align: center;
  }

  li {
    display: inline-block;
    margin-right: 1em;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 1.2em;
      color: $third-color;
      text-decoration: none;
    }
  }
}
