@import "../common";

.container {

  position: absolute;
  top: 0;
  left: 0;

  .menu-container {

    transition: all .2s ease-in-out;
    padding: 6px 6px 16px 6px;

    &:hover {

      background: $color-darkgray;

      .menu {
        a {
          color: $color-light;
        }
      }
    }

    .menu {
      margin: 0 5%;

      a {
        text-decoration: none;
        color: $color-darker;
        font-family: $font-family-cursive-text;
        font-size: $font-medium-big;
      }
    }
  }
}
