@import "../common";

.cookies-info-container {

  display: table;
  width: 100%;
  height: calc(100% - 4.5em);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto;

  text-align: center;
  font-size: 2em;
  font-family: $normal-font;

  div {
    margin-top: 2em;

    width: 90%;
    padding: 0 5%;
    text-align: justify;

    background: rgba(255, 255, 255, .5);
    padding-top: 1em;
    padding-bottom: 1em;

    a {
      color: $third-color;
      transition: all .25s;

      &:hover {
        text-shadow: 0 0 15px $third-color;
      }
    }
  }
}

@media only screen and (orientation: portrait) and (max-width: 319px) {

  .cookies-info-container {
    font-size: .5em;
  }

  .menu {
    font-size: .2em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 320px) {

  .cookies-info-container {
    font-size: .9em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 360px) {

  .cookies-info-container {
    font-size: .9em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 412px) {

  .cookies-info-container {
    font-size: .9em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 768px) {

  .cookies-info-container {
    font-size: 1.6em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 1024px) {

  .cookies-info-container {
    font-size: 1.8em;
    div {
      margin-top: 0;
    }
  }
}

@media only screen and (orientation: landscape) and (min-width: 360px) {

  .cookies-info-container {
    font-size: .7em;
    div {
      margin-top: 0;
    }
  }
}

@media only screen and (orientation: landscape) and (min-width: 412px) {

  .cookies-info-container {
    font-size: 1.65em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 732px) {

  .cookies-info-container {
    font-size: 1.8em;
    div {
      margin-top: 0;
    }
  }
}

@media only screen and (orientation: landscape) and (min-width: 1024px) {

  .cookies-info-container {
    font-size: 1.4em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1366px) {

  .cookies-info-container {
    font-size: 1.6em;
  }
}
