<div class="mf-container" [ngStyle]="{'background': color}">
  {{explanation}}
  <app-lt-help>
    <div *ngIf="color !== 'red'; else explanationBlock">
      <h4>{{lang.text.MovingFlag.cmds}}</h4>
      <ul>
        <li> {{lang.text.Misc.symbols.tab}} {{lang.text.MovingFlag.tab}}</li>
        <li> {{lang.text.Misc.symbols.enter}} {{lang.text.MovingFlag.enter}}</li>
        <li class="validate-entry">
          {{lang.text.Misc.symbols.brackets.curvedToRight}} {{lang.text.MovingFlag.nextInput}}
        </li>
      </ul>
    </div>
    <ng-template #explanationBlock>
      {{explanation}}
    </ng-template>
  </app-lt-help>
</div>
