<div class="mf-container" [ngStyle]="{'background': color}">
  {{getFirstSentence(explanation.info)}}
  <app-lt-help>
    <div *ngIf="!answer; else explanationBlock">
      <h4>{{lang.text.MovingFlag.cmds}}</h4>
      <ul>
        <li> {{lang.text.Misc.symbols.tab}} {{lang.text.MovingFlag.tab}}</li>
        <li> {{lang.text.Misc.symbols.enter}} {{lang.text.MovingFlag.enter}}</li>
        <li class="validate-entry">
          {{lang.text.Misc.symbols.brackets.curvedToRight}} {{lang.text.MovingFlag.nextInput}}
        </li>
      </ul>
    </div>
    <ng-template #explanationBlock>
      <div *ngIf="explanation.example">
        <h4>{{lang.text.MovingFlag.explanation.example}}</h4>
        <div class="example">{{explanation.example}}</div>
      </div>
      <h4>{{lang.text.MovingFlag.explanation.table}}</h4>
      <div style="overflow-x:auto;">
        <table>
          <thead>
          <tr>
            <th *ngFor="let k of explanationTableKeys()">{{k}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let k of explanationTableKeys()">{{getExplanationValue(explanation.table[k])}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h4>{{lang.text.MovingFlag.explanation.info}}</h4>
      <div class="info">{{explanation.info}}</div>
    </ng-template>
  </app-lt-help>
</div>
