@import "../common";

.flag-container {

  width: 100%;
  height: 20%;
  position: relative;

  .flag-corners {

    width: 20%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    .flag-left-top-corner {
      width: 50%;
      height: 125%;
      padding-bottom: 0;
      position: absolute;
      top: -25%;
      left: 50%;
      overflow:hidden;
    }

    .flag-left-top-corner::after {
      content: '';

      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      transform-origin: bottom left;
      transform: rotate(45deg);

      background: #0079C6;
    }

    .flag-left-bottom-corner {
      width: 0;
      height: 0;

      position: absolute;
      top: 50%;
      left: 40%;

      border: 20vh solid transparent;
      border-top-color: $second-color;
      transform: rotate(-45deg);
    }
  }

  .flag-center-text {
    width: 80%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 20%;

    background: $second-color;
  }
}
