<div class="mf-container" [ngStyle]="{'background': color}">
  {{explanation.info.split('.')[0]}}.
  <app-lt-help>
    <div *ngIf="color !== 'red'; else explanationBlock">
      <h4>{{lang.text.MovingFlag.cmds}}</h4>
      <ul>
        <li> {{lang.text.Misc.symbols.tab}} {{lang.text.MovingFlag.tab}}</li>
        <li> {{lang.text.Misc.symbols.enter}} {{lang.text.MovingFlag.enter}}</li>
        <li class="validate-entry">
          {{lang.text.Misc.symbols.brackets.curvedToRight}} {{lang.text.MovingFlag.nextInput}}
        </li>
      </ul>
    </div>
    <ng-template #explanationBlock>
      <h4>{{lang.text.MovingFlag.explanation.table}}</h4>
      <table>
        <thead>
        <tr>
          <th *ngFor="let k of explanationTableKeys()">{{k}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td *ngFor="let k of explanationTableKeys()">{{explanation[k]}}</td>
        </tr>
        </tbody>
      </table>
      <h4>{{lang.text.MovingFlag.explanation.info}}</h4>
      <div>{{explanation.info}}</div>
    </ng-template>
  </app-lt-help>
</div>
