@import "../common";

.mf-container {
  box-shadow: 0 4px 7px -5px $color-darker inset, 0 0 2px 0 $color-darker;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .test-hint {
    padding: 10px;
    flex: 1;
    align-self: flex-end;
    text-align: center;
  }

  h4 {
    text-align: center;
    text-transform: capitalize;
  }

  table {

    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        background: $color-dark;
        box-shadow: 1px 0 1px $color-darker;

        th {
          padding: 5px;
        }
      }
    }

    tbody {
      tr {
        background: $color-darker;

        td {
          padding: 5px;
        }
      }
    }
  }
}
