@import "common";

.container {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  overflow: auto;

  background: $primary-color;
}

.up-section {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background: $forth-color;
  box-shadow: 0 0 1px $second-color;
}

.router-section {
  box-shadow: -1px 0 1px $second-color;
  overflow: auto;
}

.title {
  z-index: 10;
  width: 100%;
  margin: 2% auto 0;

  text-align: center;
  font-size: 3.5em;
  font-family: $app-title-font;
  text-shadow: 1px 1px 0 $third-color,
  2px 2px 0 $third-color,
  3px 3px 0 $third-color;

  a {
    color: $second-color;
    text-decoration: none;

    span:first-child {
      margin-right: .2em;
    }
  }
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  // iPhone 5

  .title {
    font-size: 2.2em;
  }

  .router-section {
    font-size: .9em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 360px) {
  // Galaxy S5

  .router-section {
    font-size: .9em;
  }

  .up-section {
    font-size: 1.2em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 412px) {
  // Nexus 5X

  .router-section {
    font-size: .9em;
  }

  .up-section {
    font-size: 1.4em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 768px) {
  // iPad

  .router-section {
    font-size: 1.6em;
  }

  .title {
    font-size: 3.8em;
  }

  .title + app-menu {
    font-size: 1.5em;
  }
}

@media only screen and (orientation: portrait) and (min-width: 1024px) {
  // iPad Pro

  .router-section {
    font-size: 2em;
  }

  .up-section {
    font-size: 1.95em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 360px) {
  // Galaxy S5

  .router-section {
    font-size: .7em;
  }

  .up-section {
    font-size: .8em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 412px) {
  // Nexus 5X

  .router-section {
    font-size: .65em;
  }

  .up-section {
    font-size: .7em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 732px) {
  // Nexus 6P

  .router-section {
    font-size: .8em;
  }

  .up-section {
    font-size: 1em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1024px) {
  // Nexus 6P

  .router-section {
    font-size: 1.4em;
  }

  .up-section {
    font-size: 1.5em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1366px) {
  // Nexus 6P

  .router-section {
    font-size: 2em;
  }

  .up-section {
    font-size: 1.4em;
  }
}
