@import "common";

.top-section {
  width: 100%;
  height: 20%;

  position: fixed;

  background: $primary-color;
}

.router-section {
  width: 100%;
  height: 80%;

  position: fixed;
  top: 20%;
  overflow: auto;

  background: $primary-color;
}

.gp-logo {

  float: left;

  .gp-logo-g {
    padding-left: 3%;
    font-size: 4em;
    font-family: $logo-font;
    text-shadow: 1px 1px 0 $third-color,
    2px 2px 0 $third-color,
    3px 3px 0 $third-color;
  }

  .gp-logo-p {
    color: $third-color;
    font-size: 3em;
    position: absolute;
    left: 0.9em;
    top: -.25em;
    padding-left: 0;
    text-shadow: 1px 1px 0 $third-color,
    2px 2px 0 $third-color,
    3px 3px 0 $third-color;
  }
}

.title {
  z-index: 10;
  margin: 0 auto;
  padding-left: 12%;
  width: 50%;
  text-align: left;
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: $app-title-font;
  text-shadow: 1px 1px 0 $third-color,
  2px 2px 0 $third-color,
  3px 3px 0 $third-color;

  a {
    color: $second-color;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {

  /* desktops */

  .gp-logo {
    padding-top: 2%;
    font-size: 2em;

    .gp-logo-g {
      font-size: 4em;
    }

    .gp-logo-p {
      left: 7%;
      top: 1%;
    }
  }

  .title {
    font-size: 4em;
  }
}
