@import "common";

.top-section {
  width: 100%;
  height: 20%;

  position: fixed;

  background: $primary-color;
}

.router-section {
  width: 100%;
  height: 80%;

  position: fixed;
  top: 20%;
  overflow: auto;

  background: $primary-color;
}

.title {
  z-index: 10;
  width: 100%;
  margin: 0 auto;

  text-align: center;
  font-size: 2.5em;
  font-family: $app-title-font;
  text-shadow: 1px 1px 0 $third-color,
  2px 2px 0 $third-color,
  3px 3px 0 $third-color;

  a {
    color: $second-color;
    text-decoration: none;
  }
}

@media only screen and (max-height: 320px) {

  /* nexus 5x + keyboard */

  .top-section {
    transform: translateY(-100%);
  }

  .router-section {
    height: 100%;
    top: 0;
  }

  .router-section:nth-child(2) {
    height: 125%;
    transform: translateY(-20%);
  }
}

@media only screen and (max-height: 450px) {

  .title {
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px) and (min-height: 450px) {

  /* desktops */

  .title {
    font-size: 4.5em;
  }
}

@media only screen and (min-width: 1540px) and (min-height: 740px) {

  /* desktops */

  .title {
    font-size: 8.5em;
  }
}
