$primary-color: #ffcc00;
$second-color: black;
$third-color: white;
$logo-font: 'Monofett', cursive;
$app-title-font: 'Monofett', cursive;
$titles-font: 'Noto Serif', serif;
$primary-font: 'Noto Sans', sans-serif;
