@import "../common";

$border-size: 0;

.mail-sent {
  font-size: 2em;
  color: $second-color;
  text-shadow: 1px 1px 1px $second-color;
  text-align: center;
}

.notify-me {
  margin: 10% auto 0;
  text-align: center;
}

.notify-me label {
  display: block;
  font-size: 2em;
}

.notify-me label span {
  width: 60%;
  display: inline-block;
  margin: 0 auto;

  border: 10px solid transparent;
  color: $second-color;
  text-shadow: 1px 1px 1px $second-color;
}

.notify-me input[type="email"] {
  display: inline-block;
  width: 25em;
  max-width: 50%;
  margin-left: 5%;
  border: $border-size solid $primary-color;
  padding: .2em;

  background: $forth-color;
  color: $third-color;
  font-family: $primary-font;
  font-size: 1em;
  outline: none;
  text-align: center;

  box-shadow: 0 1px 4px -1px $second-color inset;
  text-shadow: 1px 1px 1px $third-color;
}

.notify-me .submit {
  display: inline-block;
  border: $border-size solid transparent;

  transform: translateX(-150%);

  background: transparent;
  font-family: $primary-font;
  font-size: 1em;
  outline: none;
  text-align: center;
  color: $third-color;
  text-shadow: 1px 1px 1px $third-color;
  cursor: pointer;
}
