@import "../common";

$border-size: 0;

.captcha {
  width: 304px;
  margin: 0 auto;
}

.mail-sent {
  font-size: 2em;
  color: $second-color;
  text-shadow: 1px 1px 1px $second-color;
  text-align: center;
  margin-top: 5%;
}

.notify-me {
  margin: 10% auto 0;
  text-align: center;

  .error {
    color: $forth-color;
    font-size: 1.5em;
  }

  .ng-invalid .submit {
    opacity: .5;
  }

  label {
    display: block;
    font-size: 2em;
  }

  label span {
    width: 60%;
    display: inline-block;
    margin: 0 auto;

    border: 10px solid transparent;
    color: $second-color;
    text-shadow: 1px 1px 1px $second-color;
  }

  input[type="email"] {
    display: inline-block;
    width: 13em;
    max-width: 50%;
    margin-left: 1.35em;
    border: $border-size solid $primary-color;

    padding: .2em 1.5em .2em .2em;

    background: $forth-color;
    color: $third-color;
    font-family: $primary-font;
    font-size: 1em;
    outline: none;
    text-align: left;

    box-shadow: 0 1px 4px -1px $second-color inset;
    text-shadow: 1px 1px 1px $third-color;
  }

  .submit {
    display: inline-block;
    border: $border-size solid transparent;

    transform: translateX(-150%);

    background: transparent;
    font-family: $primary-font;
    font-size: 1em;
    outline: none;
    text-align: center;
    color: $third-color;
    text-shadow: 1px 1px 1px $third-color;
    cursor: pointer;
  }
}
