<div class="background-container">
</div>

<div class="menu">
  <app-menu></app-menu>
</div>

<div class="su-container">
  <div class="su-sub-container">
    <div *ngIf="!registrationSuccess" class="notify-me">

      <form #signUpForm="ngForm">
        <!--SIGN UP INPUT-->
        <label for="email">
          <span>{{lang.text.SignUp.email.label}}</span>
        </label>
        <div class="input-container">
          <input type="email" #input [(ngModel)]="email" autocomplete="off"
                 name="email" id="email" required email
                 [placeholder]="lang.text.SignUp.email.placeholder">
        </div>

        <div class="comment">
          <textarea [(ngModel)]="comment" name="comment"
                    [placeholder]="lang.text.SignUp.textarea.placeholder"></textarea>
        </div>

        <div class="error">{{error}}</div>

        <!--CAPTCHA-->
        <div class="captcha" *ngIf="signUpForm.valid">
          <div [@sliderAnim]="">
            <div>Slide to send!</div>
            <mat-slider
              (change)="sliderChange($event)"
              [value]="sliderValue">
            </mat-slider>
          </div>
        </div>
      </form>

    </div>

    <!--SUCCESS FROM SERVER-->
    <div *ngIf="registrationSuccess" class="mail-sent">
      {{lang.text.SignUp.emailSent}}<br>
      <a routerLink="/choose-level">{{lang.text.SignUp.tryAgain}}</a>
    </div>
  </div>
</div>
