<div *ngIf="!registrationSuccess" class="notify-me">

  <form #signUpForm="ngForm">
    <!--SIGN UP INPUT-->
    <label>
      <span>{{lang.text.SignUp.signUpLabel}}</span>
      <div>
        <input type="email" #input [(ngModel)]="email" autocomplete="off"
               name="email" required [pattern]="emailRegex">
        <div class="submit" (click)="sendForm()">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </div>
      </div>
    </label>

    <!--CAPTCHA-->
    <div class="captcha">
      <div #captcha></div>
    </div>
  </form>

</div>

<!--SUCCESS FROM SERVER-->
<div *ngIf="registrationSuccess" class="mail-sent">
  {{lang.text.SignUp.emailSent}}
</div>
