<div *ngIf="test" class="lt-container">

  <div class="success-bar" [ngStyle]="{width: successBarSize()}">
  </div>

  <div class="lt-text">
    <form [formGroup]="testForm" novalidate>
      <ng-container *ngFor="let w of test.text; let i = index;">

        <!--TEXT-->
        <ng-container *ngIf="!w.isInput">
          <div *ngFor="let ww of getArray(w.value)" class="word"
               [ngClass]="{'point': isPoint(ww), 'word-no-margin': wordNoMargin(ww)}">
            {{ww}}
          </div>
        </ng-container>

        <!--INPUTS FOR THE USER TO FILL IN-->
        <div formGroupName="test" *ngIf="w.isInput" class="input-div">
          <label>
            <input type="text" #thisInput autocomplete="off"

                   (keydown.enter)="controlChanged($event, thisInput, i, w.explanation)"
                   (keydown.tab)="controlChanged($event, thisInput, i, w.explanation)"
                   (keydown.space)="controlChanged($event, thisInput, i, w.explanation)"

                   (click)="onInputClick(thisInput, w.explanation)"

                   [ngClass]="{
                        'incomplete-word-input': !w.complete,
                        'shake shake-constant': shakeIt && isInputInvalid(thisInput),
                        'wrong-answer': isInputInvalid(thisInput),
                        'valid': luckenInputStatus(thisInput) === 'valid',
                        'invalid': luckenInputStatus(thisInput) === 'invalid'
                     }"

                   [name]="i"
                   [id]="i"
                   [size]="w.value.length"
                   [maxlength]="w.value.length"
                   [formControlName]="i">

            <app-moving-flag *ngIf="thisInputFocused(thisInput) && isErrorFocusedInput()"
                             [explanation]="inputFocused.explanation"></app-moving-flag>
          </label>
        </div>
      </ng-container>
    </form>
  </div>
</div>
