<div *ngIf="test" class="lt-container">

  <div class="success-bar" [ngStyle]="{width: successBarSize()}">
  </div>

  <div class="lt-text">
    <form [formGroup]="testForm" novalidate>
      <div *ngFor="let w of test.text; let i = index;">

        <!--TEXT-->
        <div *ngIf="!w.isInput" class="word">
          <div *ngFor="let ww of getArray(w.value)" [ngClass]="{'point': isPoint(ww)}">{{ww}}</div>
        </div>

        <!--INPUTS FOR THE USER TO FILL IN-->
        <div formGroupName="test" *ngIf="w.isInput" class="input-div">
          <label>
            <input type="text" #thisInput autocomplete="off"

                   (keydown.enter)="controlChanged(thisInput, i)"
                   (keydown.tab)="onInputTab($event, thisInput)"
                   (click)="onInputClick(thisInput)"
                   (focus)="onInputFocus(thisInput, w.explanation)"

                   [ngClass]="{
                        'incomplete-word-input': !w.complete,
                        'shake shake-constant': shakeIt && isInputInvalid(thisInput),
                        'wrong-answer': isInputInvalid(thisInput)
                     }"
                   [@hole]="luckenInputStatus(thisInput)"
                   [name]="i"
                   [id]="i"
                   [size]="w.value.length"
                   [maxlength]="w.value.length"
                   [formControlName]="i">

            <div *ngIf="isErrorFocusedInput()">
              <app-moving-flag
                *ngIf="inputFocused.nativeElement.id === thisInput.id"
                [explanation]="inputFocused.explanation"></app-moving-flag>
            </div>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
