@import "../common";

$lt-font: "Nova Mono", sans-serif;

$score-perfect: #009625;
$score-good: #443f1a;
$score-mediocre: #e27926;
$score-bad: #b74747;
$score-aweful: #b74747;

.lt-container {
  padding-left: 5%;
  font-size: 2em;
  font-family: $lt-font;
  line-height: 2em;
}

.lt-container form div {
  float: left;
}

.lt-container label {
  float: left;
}

.lt-container input[type='text'] {
  border: 0;
  font-size: 1em;
  font-family: $lt-font;
  background: transparent;
  border-bottom: 1px solid $third-color;
  display: inline-block;
  outline: none;
  margin: 0 0.5em;
}

.lt-container input[type='text']:focus {
}

.lt-container input[type='text'].incomplete-word-input {
  margin-left: 0;
}

.lt-container input[type='text']::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $third-color;
}

.lt-container .lt-thermometer {
  padding-right: 3%;
  font-size: 4em;
  float: right;
  text-shadow: 1px 1px 5px, -1px -1px 1px white;
}

.lt-container .lt-score-perfect {
  color: $score-perfect;
}

.lt-container .lt-score-good {
  color: $score-good;
}

.lt-container .lt-score-mediocre {
  color: $score-mediocre;
}

.lt-container .lt-score-bad {
  color: $score-bad;
}

.lt-container .lt-score-aweful {
  color: $score-aweful;
}

@media only screen and (min-height: 768px) {

  /* desktops */

  .lt-container {
    margin-top: 8%;
    font-size: 3em;
  }
}
