@import "../common";

$lt-font: "Nova Mono", sans-serif;

$score-perfect: #009625;
$score-good: #443f1a;
$score-mediocre: #e27926;
$score-bad: #b74747;
$score-aweful: #b74747;

.lt-container {

  font-size: 2em;
  font-family: $lt-font;
  line-height: 2em;

  app-moving-flag {
    width: 100%;
    position: fixed;
    top: 20%;
  }

  .word {
    .point {
      margin: -0.2em 0;
      margin-left: -.5em;
    }

    div {
      float: left;
      margin: -0.2em 0.2em;
    }
  }

  input[type='text'] {
    display: inline-block;
    margin: 0 0.5em;
    float: left;

    font-size: 1em;
    font-family: $lt-font;
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid $third-color;
    outline: none;
  }

  input[type='text']:focus {
    animation: focusAnim .5s ease-in forwards;
  }

  input[type='text'].incomplete-word-input {
    margin-left: -.2em;
  }

  input[type='text']::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $third-color;
  }

  .lt-text {
    padding: 2%;
  }

  .success-bar {
    position: fixed;
    width: 0;
    height: 2px;
    background: darkred;
    transition: width .5s;
  }

  .wrong-answer {
    cursor: pointer;
  }

  .enter-tip {
    position: fixed;
  }
}

@keyframes focusAnim {
  0% {
    border-bottom: 1px solid $third-color;
  }
  33% {
    border-bottom: 1px solid $third-color;
    border-left: 1px solid $third-color;
  }
  66% {
    border-bottom: 1px solid $third-color;
    border-left: 1px solid $third-color;
    border-top: 1px solid $third-color;
  }
  100% {
    border-bottom: 1px solid $third-color;
    border-left: 1px solid $third-color;
    border-top: 1px solid $third-color;
    border-right: 1px solid $third-color;
  }
}

@media only screen and (min-height: 768px) {

  /* desktops */

  .lt-container {
    margin-top: 8%;
    font-size: 2em;
  }
}
