@import "../common";

:host {
  align-self: center;
}

button {
  padding: 10px;
  border: 0;
  background: transparent;
  font-size: $font-medium;
  box-shadow: 0 0 32px 20px $color-lighter inset, 1px 0 5px -3px $color-dark;
  transition: background 200ms ease-in-out;

  &:hover {
    background: $color-lighter;
  }
}

.background {
  position: fixed;
  width: 80%;
  height: 80vh;
  top: 10vh;
  left: 10%;

  padding: 20px;
  box-sizing: border-box;

  background: $color-dark-alpha-80;
  color: $color-light;
  font-size: $font-medium;
  border: 1px solid $color-dark;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 0px $color-darker inset, 0 0 2px $color-darker;

  z-index: 2;
  transform-origin: top;
  perspective-origin: top;
  animation: flyIn 150ms ease-in-out forwards;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
}

.need-help-out {
  animation: fallsDown 150ms ease-out forwards;
}

@keyframes fallsDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes flyIn {
  0% {
    transform: perspective(200px) rotateX(-90deg);
  }
  100% {
    transform: perspective(200px) rotateX(0);
  }
}
