<div class="background-container">
</div>

<div class="title-big" #titleBig>
  <div class="letter l1">L</div>
  <div class="letter l2">ü</div>
  <div class="letter l3">C</div>
  <div class="letter l4">K</div>
  <div class="letter l5">E</div>
  <div class="letter l6">N</div>
  <div class="letter l7">T</div>
  <div class="letter l8">E</div>
  <div class="letter l9">S</div>
  <div class="letter l10">T</div>
</div>

<div class="index-container" #topSection>

  <!--APP TITLE-->
  <div class="title">
    <span>{{lang.text.App.title1}}</span>
    <span>{{lang.text.App.title2}}</span>
  </div>

  <div class="text-container">
    <h2>
      {{lang.text.Index.slogan1}}
      <br>
      <em>{{lang.text.Index.slogan2}}</em>
      {{lang.text.Index.slogan3}}
    </h2>
  </div>
</div>

<div class="start-link">
  <h3>
    Get your hands dirty: try out a random test directly picked out from the German Wikipedia!
  </h3>
  <a routerLink="/lt/random">{{lang.text.Index.startLink}}</a>
  <p>
    Our goal is to provide German learners with a training App.
    <br>
    It all started in Germany when we were studying German in order to pass the merciless <em>Studienkolleg</em> German
    test. From that experience we noticed that it was a hassle training for the exams with the little books that we were
    given. So, from that experience came out the following requirements for the App:
  </p>
  <ul>
    <li>Tests are available for any kind of vocabulary.</li>
    <li>Repeating tests should be easy.</li>
    <li>I want to know how far I am with the learning progress!</li>
  </ul>
</div>
