@import "../common";

.title-big {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .letter {
    width: 7vw;
    height: 7vw;

    background: transparent;
    border-radius: 25%;
    border: 0;
    box-shadow: .6vw .4vw 0 .6vw $color-gray;

    font-size: 7vw;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 white
  }
}

.background-container {

  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
  border-bottom: 20px solid $color-gray;

  background: {
    image: url(../../assets/img/bg-init.jpg);
    position-x: center;
    size: cover;
    attachment: fixed;
  }

  .index-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    color: $color-lighter;

    .title {
      font-size: 10vw;
      text-shadow: 1px 1px 1px $color-darker, 5px 5px 10px $color-darker;
    }

    .text-container {
      text-align: center;
      font-size: 3.5vw;
      color: $color-dark;
      text-shadow: 1px 1px 0 $color-flashy, 5px 5px 10px $color-darker;
    }
  }
}

.start-link {
  width: 100%;
  min-height: calc(100vh - 8vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h3, p, ul {
    width: 80%;
    text-align: center;

    font-family: $font-family-cursive-text;
    font-size: $font-medium;
    color: $color-darker;
  }

  ul {
    text-align: left;
    list-style: lower-alpha;
    padding-left: 12%;
  }

  p {
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: $color-lighter;

    font-family: $font-family-sans-serif-big;
    text-shadow: 1px 1px 0 $color-darker;
    font-size: $font-big;

    &:hover {
      animation: $font-family-sans-serif-big-animation;
    }
  }
}

@media (max-width: 480px) {
  .background-container {

    .index-container {

      .title {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
