<!--LUCKEN TEST-->
<div *ngIf="displayTest" [@lt]="''">
  <app-lt
    [level]="level"
    [training]="training"
    (loadTestError)="loadTestError=$event.error"
    (ltSuccess)="toggleDisplayTest($event)">
  </app-lt>
</div>

<div *ngIf="loadTestError" class="load-test-error">
  {{loadTestError}}
</div>

<!--SUCCESS-->
<div *ngIf="!displayTest" [@success]="''" class="test-success-container">
  <div class="wrap">
    <div class="circle">
      <span class="text"><i class="fa fa-check" aria-hidden="true"></i></span>
    </div>
  </div>
  <div class="sign-up">
    <a routerLink="/sign-up">Sign up!</a>
  </div>
</div>
