@import "../common";

.run-lt-container {

  display: table;
  width: 100%;
  height: calc(100% - 4.5em);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto;

  .run-lt-sub-container {

    display: table-cell;
    vertical-align: middle;

    .load-test-error {
      text-align: center;
      font-size: 3em;
      font-family: $titles-font;
      color: $forth-color;
      text-shadow: 1px 1px 1px $forth-color;
    }
  }
}
